<div class="bc-reg mb-5">
  <div class="container mb-5">
    <form [formGroup]="formLogin" method="POST" id="signup">

      <!-- TITOL REGISTRE -->
      <div class="header">
        <h3>Conectar-me</h3>
      </div>
      <!-- SEPARACIÓ -->
      <div class="sep"></div>

      <div class="inputs">
        <div class="form-group">

          <!-- INPUT CORREU ELECTRONIC USUARI -->
          <input type="email" name="email" class="form-control" formControlName="correo" placeholder="Correu Electronic" required />

          <!-- MISSATGE ERROR CORREU ELECTRONIC -->
          <div *ngIf = "submitted && f.correo.errors">
            <p *ngIf = "f.correo.errors.required" class="msg">
              Aquest camp es obligatori
            </p>d
          </div>

          <!-- INPUT CONTRASENYA USUARI -->
          <input type="password" name="pass" class="form-control" formControlName="password" placeholder="Contraseña"
            required />

          <!-- MISSATGE ERROR CONTRASENYA -->
          <div *ngIf = "submitted && f.password.errors">
            <p *ngIf = "f.password.errors.required" class="msg">
              Aquest camp es obligatori
            </p>
          </div>

          <div class="buttons">
            <div class="containerbtn">
              <button type="button" class="btn effect04" data-sm-link-text="Entrar" target="_blank"
                (click)="enviarDatos()">
                <span>Entrar</span>
              </button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
