<app-header></app-header>
<div class="page-qui">
  <div class="banner">
    <p>Qui Som?</p>
</div>

<div class="row py-5 mt-3 mb-5">

    <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="/assets/qui-som/quisom-col.jpg" class="img-fluid mx-auto d-block" title="Taxis">
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 center-1 center">

        <h4>Taxis</h4>

        <p>Taxis, es una empresa en que et facilita la localització de gran part de les empreses i parades de Taxis que es troben
          a la ciutat de Lleida.
        </p>

        <p>Taxis, et facilita la demanda de taxis, pero no proporciona taxis, ja que això es un servei que tenen les empreses amb
          les quals tenim contracte. Per tant, a l'hora de demanar el taxi, sera a l'empresa corresponent a la qual vulgui demanar el taxi.
        </p>

        <p>Taxis, ha estat pensada per facilitar la vida a l'usuari de carrer, sobretot per quan no es troba una parada o no es sap on està
          la parada més propera d'on es troba un mateix.
        </p>

    </div>

</div>
