<div class="banner">

    <p>Companyia</p>

</div>


<div class="row mb-5 mx-3">

    <div class="col-lg-4 col-md-12 col-sm-12 my-5">

        <div class="empresa">
            
            <img src="/assets/empresa/taxi1.png" alt="" width="450px" class="img-fluid mx-auto d-block" title="Taxis">
            
            <div class="hov-text">

                <h4>Taxis Borras</h4>
                <a href="http://taxisborras.com/ca/" class="btn btn-outline-dark btn-block">Web</a>
    
            </div>

        </div>

    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 my-5">

        <div class="empresa">
            
            <img src="/assets/empresa/taxi2.png" alt="" width="450px" class="img-fluid mx-auto d-block" title="Taxis">
            
            <div class="hov-text">

                <h4>Lo teu Taxi</h4>
                <a href="https://www.loteutaxi.com/ca/" target="_blank" class="btn btn-outline-dark btn-block">Web</a>
    
            </div>

        </div>

    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 my-5">

        <div class="empresa">
            
            <img src="/assets/empresa/taxi3.png" alt="" width="450px" class="img-fluid mx-auto" title="Taxis">
            
            <div class="hov-text">

                <h4>Taxi Lleida</h4>
                <a href="https://www.taxilleida.com/es/" target="_blank" class="btn btn-outline-dark btn-block">Web</a>
    
            </div>

        </div>

    </div>

</div>
