<div class="banner">
  <p>Contacte</p>
</div>

<!--Section: Contact v.2-->
<section class="mb-4" id="form-contacte">

  <!--Section description-->
  <h3 class="text-center w-responsive mx-auto mb-5 txt">Té vostè alguna pregunta?
    <br>
    <h5 class="text-center w-responsive mx-auto mb-5 txt">No dubti en contactar amb nosaltres
      directament.<br> El nostre equip us respondrà
      en qüestió d’hores per ajudar-vos.</h5>
  </h3>

  <div class="row">

    <!--Grid column-->
    <div class="col-md-9 mb-md-0 mb-5">
      <form id="contact-form" name="contact-form" method="POST">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="name" name="name" class="form-control">
              <label for="name" class="">Nom i Cognoms</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="email" name="email" class="form-control">
              <label for="email" class="">Correu elctrònic</label>
            </div>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form mb-0">
              <input type="text" id="subject" name="subject" class="form-control">
              <label for="subject" class="">Concepte</label>
            </div>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-12">

            <div class="md-form">
              <textarea type="text" id="message" name="message" class="form-control md-textarea"></textarea>
              <label for="message">Missatge</label>
            </div>

          </div>
        </div>
        <!--Grid row-->

      </form>

      <div class="text-center text-md-left">
        <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Enviar</a>
      </div>
      <div class="status"></div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-3 text-center">
      <ul class="list-unstyled mb-0">
        <li><img class="img-ubi" src="https://img.icons8.com/cotton/64/000000/location--v3.png"/>
          <p>San Francisco, CA 94126, USA</p>
        </li>

        <li><img src="https://img.icons8.com/ultraviolet/40/000000/phone-office.png"/>
          <p>+ 01 234 567 89</p>
        </li>

        <li><img src="https://img.icons8.com/fluent/48/000000/composing-mail.png"/>
          <p>miral.enterprise.2020@gmail.com</p>
        </li>
      </ul>
    </div>
    <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.2-->
