<div>
  
  <img src="https://picsum.photos/1920/400" alt="" class="img">

</div>

<div class="row my-5 mx-3">

  <div class="col-lg-6 col-md-6 col-sm-6 my-sm-2">

      <img src="https://picsum.photos/700/350" class="img-fluid mx-auto d-block" title="Taxis">

  </div>
  
  <div class="col-lg-6 col-md-6 col-sm-6 center-1 center">

      <h4>Taxis</h4>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero consequatur molestias, rerum quibusdam 
        exercitationem dolorum debitis quidem sit. Qui suscipit minus molestiae inventore ullam quis eligendi assumenda eos fugiat.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, enim.</p>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur consequatur dolorem officia soluta corrupti, debitis deserunt
         suscipit accusamus dicta in non quisquam quia incidunt veritatis, quaerat laboriosam quasi, ab facilis maxime perspiciatis adipisci. 
         Voluptatibus odio rem optio! Natus quos quis accusamus cumque optio tempore minima.</p>

  </div>

</div>

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1U329PzuhwR3I9Huxb0A-3ET0pp1txvKQ" width="100%" height="500"></iframe>

<div class="row px-3 mb-3 py-5">

  <div class="col-lg-6 col-md-6 col-sm-6 center-2 center">

      <h4>Companyies</h4>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero consequatur molestias, rerum quibusdam 
        exercitationem dolorum debitis quidem sit. Qui suscipit minus molestiae inventore ullam quis eligendi assumenda eos fugiat.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, enim.</p>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur consequatur dolorem officia soluta corrupti, debitis deserunt
         suscipit accusamus dicta in non quisquam quia incidunt veritatis, quaerat laboriosam quasi, ab facilis maxime perspiciatis adipisci. 
         Voluptatibus odio rem optio! Natus quos quis accusamus cumque optio tempore minima.</p>

  </div>   

  <div class="col-lg-6 col-md-6 col-sm-6 mb-4">

      <img src="https://picsum.photos/700/350" class="img-fluid mx-auto d-block" title="Taxis">

  </div>

</div>
