<app-header></app-header>
<div class="inici-page">
  <div>
    <img src="/assets/inici/banner.jpg" alt="" class="img">
  </div>

  <div class="row my-5 mx-3">

    <div class="col-lg-6 col-md-6 col-sm-6 my-sm-2">
        <img src="/assets/inici/img-1.jpg" class="img-fluid mx-auto d-block" title="Taxis">
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 center-1 center">

        <h4>Taxis</h4>

        <p>Taxis, es una empresa en que et facilita la localització de gran part de les empreses i parades de Taxis que es troben
          a la ciutat de Lleida.
        </p>

        <p>Taxis, et facilita la demanda de taxis, pero no proporciona taxis, ja que això es un servei que tenen les empreses amb
          les quals tenim contracte. Per tant, a l'hora de demanar el taxi, sera a l'empresa corresponent a la qual vulgui demanar el taxi.
        </p>

        <p>Taxis, ha estat pensada per facilitar la vida a l'usuari de carrer, sobretot per quan no es troba una parada o no es sap on està
          la parada més propera d'on es troba un mateix.
        </p>

    </div>

  </div>

  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1U329PzuhwR3I9Huxb0A-3ET0pp1txvKQ" width="100%" height="500"></iframe>

  <div class="row px-3 mb-3 py-5">

    <div class="col-lg-6 col-md-6 col-sm-6 center-2 center">

        <h4>Companyies</h4>

        <p>A Taxis, confiem en les empreses locals, ja que sempre son les que agraden als nostres clients.</p>

        <p>Per el moment tenim contacte amb les empreses: Lo Teu Taxis, Taxis Borràs i Tele Ràdio Taxi Lleida, que son les més utilitzades per els habitants
          de Lleida. Tot i que tenim pensat ampliar horitzons i contactar amb més empreses de la ciutat de Lleida i en un futur apliar el nostre sector
          fora de Lleida ciutat.
        </p>

        <p>Sempre tindrem en compte els interessos que ens mostren els clients.</p>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">

        <img src="/assets/inici/img-2.jpg" class="img-fluid mx-auto d-block" title="Taxis">

    </div>

  </div>

</div>
