.trobam-page{
  margin-top: 5%;
}

.banner {
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 0px;
    font-size: 60px;
    font-weight: bolder;
}

.col-left {
  width: 49%;
  float: left;
}

.col-right {
  width: 49%;
  float: right;
}

.row {
  margin-left: auto;
  margin-left: auto;
}

.Reservas{
  background-color: rgb(227, 233, 233);
  margin-left: 6%;
  margin-right: 6%;
  border-radius: 1%;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  -ms-border-radius: 5;
  -o-border-radius: 5;
  border-color: black;
  
 
  
}
