<app-header></app-header>

<div class="trobam-page">

  <div class="banner">
    <p>Troba'm</p>
  </div>

  <div class="row my-5 mx-5">

    <div class="col-lg-6 col-md-6 col-sm-12 mb-4">

      <iframe class="mx-auto d-block" src="https://www.google.com/maps/d/u/0/embed?mid=1U329PzuhwR3I9Huxb0A-3ET0pp1txvKQ" width="100%" height="430"></iframe>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">

      <div class="card">

        <h5 class="card-header">Reserva el teu taxi</h5>

        <div class="card-body">

          <!-- <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->

          <form>

            <div class="form-group">

              <div class="col-left">

                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correu Electronic">

                <label class="mt-3" for="exampleInputEmail1">Selecciona l'empresa</label>

                <select class="form-control" id="exampleFormControlSelect1">

                  <option>Lo Teu Taxi</option>
                  <option>Taxis Borras</option>
                  <option>Tele Ràdio Taxis Lleida</option>

                </select>

              </div>

              <div class="col-right">

                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nom i Cognoms">

                <label class="mt-3" for="exampleInputEmail1">Selecciona l'empresa</label>

                <select class="form-control" id="exampleFormControlSelect1">

                  <option>Parada de Taxis Carrer Terol</option>
                  <option>Parada de Taxis del Carrer Riu Ebre</option>
                  <option>Parada de Taxis de l'Estació d'Autobusos</option>
                  <option>Parada de Taxis de l'Estació de Trens</option>
                  <option>Parada de Taxis de Prat de la Riba</option>
                  <option>Parada de Taxis de la Plaça Ricard Vinyes</option>
                  <option>Parada de Taxis de Joc de la Bola</option>
                  <option>Parada de Taxis de l'Hospital Universitari Arnau de Vilanova</option>

                </select>

              </div>

            </div>

            <button type="submit" class="mt-3 btn btn-primary">Submit</button>

          </form>

        </div>
      </div>

    </div>

  </div>



</div>
